@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

.main-heading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    color: rgb(92, 90, 90);
}

.go{
    color: rgb(248, 97, 97);
}

.container{
    background-color: rgb(215, 215, 215);
    box-shadow: 5px 5px 0px 1px rgb(78, 77, 77);
    border: 2px solid rgb(78, 77, 77);
    border-radius: 10px;
    float: left;
    position: absolute;
    z-index: 1;
    height: 510px;
    width: 430px;
    margin-left: 72vh;
    margin-top: 16vh;
}

.right-container{
    float: right;
    margin-left: 118vh;
    margin-top: 35vh;
    position: absolute;
    z-index: 2;
    /* border: 1px solid red; */
}

input{
    display: block;
    width: 75%;
    margin-left: 12%;
    margin-bottom: 5%;
    height: 37px;
    box-shadow: 4px 4px 0px 0px rgb(92, 90, 90);
    border-radius: 4px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: small;
    border: 2px solid rgb(92, 90, 90);
}

input:focus{
    color: rgb(248, 97, 97);
}

.mario-img{
    height: 400px;
}

button{
    margin-left: 19vh;
    margin-top: 4vh;
}

button,
button::after {
    padding: 16px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "LET'S GO";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

a{
    text-decoration: none;
    color: rgb(248, 97, 97);
}

p{
    color: rgb(92, 90, 90);
}

p, a{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 1%;
    font-weight: 600;
}

.question-block {
    height: 16px;
    width: 16px;
}